@font-face {
  font-family: 'BBadr';
  src:        url('./fonts/BBadr.eot');
  src: local('☺'),
  url('./fonts/BBadr.woff') format('woff'),
  url('./fonts/BBadr.ttf') format('truetype'); 
  /* url('http://www.fontfarsi.ir/Content/Fonts/SVG/Far_Abasan.svg') format('svg'); */
  font-weight: normal;
  font-style: normal;
  }
  body{
    font-family: 'BBadr' !important;
    height: 100%;
  }
.App {
  text-align: center;
  direction: rtl;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(2, 2, 2);
  background-image: url("./pics/IMG_302122.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  padding: 20px;
  color: white;
}
.root{
  width: 100%;
  margin-top: 30;
  overflow-x: 'auto';
}
.table {
  min-width: 700;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* my css */
.App-login{
  text-align: center;
  direction: rtl;
  /* background-color: rgb(2, 2, 2); */
  /* background-image: url("./pics/DSC_6023.JPG"); */
  background-image: url("./pics/google_datacenter-wallpaper-960x600.jpg");
  background-size: cover;
  background-repeat:repeat;
  background-position: center;
  height: 100%;
  /* height: 150px; */
  /* padding: 20px; */
  position:center;
  color: white;
  direction: rtl;
  /* backdrop-filter:yellow; */
  display: block
}

.myPaper{
  color: #9196e4;
  
}

.btn{
       background-color:lightgray !important;
}



  .fFonts {
  font-family: 'BBadr',Tahoma, Sans-Serif !important;
  font-size: 24px ;
  color: black;
  }


/* Drawer css */
.drawer-root {
  flex-Grow: 1;
  height: 730;
  z-Index: 1;
  overflow: 'hidden';
  position: 'relative';
  display: 'flex';
}
.drawer-appBar{
  z-Index: 10;
  /* z-Index: theme.zIndex.drawer + 1, */
  /* transition: theme.transitions.create(['width', 'margin'], {
    easing: theme.transitions.easing.sharp,
    duration: theme.transitions.duration.leavingScreen,
  }), */
}
:root{
  --drawerWidth:240;
}
.drawer-appBarShift {
  
  margin-Left: var(--drawerWidth);
  width: calc(100% - var(--drawerWidth));
  /* width: calc(100% - var(--drawerWidth)px); */
  /* transition: theme.transitions.create(['width', 'margin'], {
    easing: theme.transitions.easing.sharp,
    duration: theme.transitions.duration.enteringScreen,
  }), */
}
.drawer-menuButton {
  margin-Left: 12;
  margin-Right: 36;
}
.drawer-hide {
  display: 'none';
}
.drawer-drawerPaper {
  position: 'relative';
  white-Space: 'nowrap';
  width: var(--drawerWidth);
  /* transition: theme.transitions.create('width', {
    easing: theme.transitions.easing.sharp,
    duration: theme.transitions.duration.enteringScreen,
  }), */
  transition: ease-in
  
}
.drawer-drawerPaperClose{
  overflow-X: 'hidden';
  /* transition: theme.transitions.create('width', {
    easing: theme.transitions.easing.sharp,
    duration: theme.transitions.duration.leavingScreen,
  }), */
  /* width: theme.spacing.unit * 7,
  [theme.breakpoints.up('sm')]: {
    width: theme.spacing.unit * 9,
  }, */
}
.drawer-toolbar {
  display: 'flex';
  align-Items: 'center';
  justify-Content: 'flex-end';
  padding: '0 8px';
  /* ...theme.mixins.toolbar; */
}
.drawer-content {
  flex-Grow: 1;
  /* background-Color: theme.palette.background.default, */
  /* padding: theme.spacing.unit * 3, */
}
